DATABASE_URL=postgresql://usuario:contraseña@host:puerto/railway
JWT_SECRET=tu_secreto_jwt
PORT=3000
EMAIL_HOST=smtp.tuproveedor.com
EMAIL_PORT=587
EMAIL_USER=tu@email.com
EMAIL_PASS=tu_contraseña
EMAIL_ADMIN=admin@tuapp.com